<header>
  <div class="wrapper">
    <div class="navbar-wrap">
      <div class="logo-wrap">
        <p class="logo">
          <span class="logo" routerLink="/home">My Shop</span>
        </p>
      </div>
      <nav>
        <a mat-button routerLink="/home">Home</a>
        <a mat-button routerLink="/about">About</a>
        <a mat-button routerLink="/products">Shop</a>
        <a mat-button routerLink="/contact">Contact</a>
      </nav>
      <div class="hidden" #count>
        {{ counter$ | async }}
      </div>
    </div>
    <div class="mini-navbar-wrap">
      <div class="mini-navbar">
        <div *ngIf="isLogged">
          <a
            mat-button
            [matBadge]="count.textContent"
            matBadgeColor="warn"
            matBadgeOverlap="false"
            routerLink="/products/cart"
            ><i class="fa-solid fa-cart-shopping"></i
          ></a>
          <a mat-button [matMenuTriggerFor]="menu"
            ><i class="fa-solid fa-user"></i
          ></a>
          <mat-menu #menu="matMenu" class="matMenu">
            <a class="matMenuItem" routerLink="/user/profile" mat-menu-item
              >{{ username | titlecase }}`s Profile</a
            >
            <a
              *ngIf="isAdmin"
              class="matMenuItem"
              routerLink="/products/create"
              mat-menu-item
              >Create Product</a
            >
            <a class="matMenuItem" mat-menu-item (click)="logout()">Logout</a>
          </mat-menu>
        </div>
        <div class="not-logged" *ngIf="!isLogged">
          <a mat-button routerLink="/user/login">Login</a>
          <a mat-button routerLink="/user/register">Register</a>
        </div>
      </div>
    </div>
  </div>
</header>
