<div class="container">
  <div class="wrapper">
    <h1>WE ARE ELEGANT</h1>
    <p class="subheader">
      Elegance isn't solely defined by what you wear. It's how you carry
      yourself.
    </p>
    <div class="grid-section">
      <div class="info-wrapper">
        <div class="icon"><i class="fa-solid fa-gift"></i></div>
        <span class="info-header"> Beautiful products </span>
        <p class="info-text">
          I never look at other people's work. My mind has to be completely
          focused on my own illusions. It's a philosophy of life. A practice
          with no end.
        </p>
      </div>
      <div class="info-wrapper">
        <div class="icon"><i class="fa-solid fa-gift"></i></div>
        <span class="info-header"> Fast delivery </span>
        <p class="info-text">
          If you do this, something will change, what will change is that you
          will change, your life will change, and if you can change you, you can
          perhaps change the world.
        </p>
      </div>
      <div class="info-wrapper">
        <div class="icon"><i class="fa-solid fa-gift"></i></div>
        <span class="info-header"> 100% Satisfaction </span>
        <p class="info-text">
          I've always thought of the T-shirt as the Alpha and Omega of the
          fashion alphabet. I like the things around me to be beautiful and
          slightly dreamy.
        </p>
      </div>
    </div>
  </div>
</div>
