<div class="content">
  <div class="wrapper">
    <div class="img-wrapper">
      <img
        src="../../../../assets/pinpng.com-empty-circle-png-3025490.png"
        alt=""
      />
    </div>
    <div class="data-wrapper">
      <h2>{{ user!.username | titlecase }}`s account</h2>
      <!-- <p>You have created {{ productsCount }} products.</p> -->
      <p *ngIf="isAdmin">Account type: Admin</p>
      <p *ngIf="!isAdmin">Account type: Customer</p>
      <div *ngIf="isAdmin" class="button-wrapper">
        <a routerLink="/products/create">Create new product</a>
        <a routerLink="/products">View created products</a>
      </div>
      <div *ngIf="!isAdmin" class="button-wrapper">
        <a routerLink="/products">Shop now</a>
        <a routerLink="/products/cart">View cart</a>
      </div>
    </div>
  </div>
</div>
