.content {
  background-image: url(src/assets/forms.jpg);
  height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.wrapper {
  margin-top: 2rem;
  background-color: white;
  width: 60%;
  height: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
}

.data-wrapper {
  flex-basis: 50%;
}

.data-wrapper * {
  color: black;
}

h2 {
  text-align: center;
}

img {
  max-width: 289px;
}

.button-wrapper{
  display: flex;
  gap: 1rem;
}

.button-wrapper a {
  background-color: rgb(52, 84, 203);
  color: white;
  padding: 1rem;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}