<div class="content">
  <div class="wrapper">
    <div class="form-wrapper">
      <h2>Create a new product</h2>
      <form #form="ngForm" (ngSubmit)="create()">
        <label for="email">Product name</label>
        <input type="text" name="name" ngModel placeholder="e.g Shirt" />
        <label for="price">Price</label>
        <input type="number" name="price" ngModel placeholder="e.g 79.99" />
        <label for="quantity">Quantity</label>
        <input type="number" name="quantity" ngModel placeholder="e.g 2" />
        <label for="imgUrl">Image Url</label>
        <input
          type="url"
          name="imgUrl"
          ngModel
          placeholder="e.g http://images.com/image.png"
        />
        <label for="description">Description</label>
        <textarea
          name="description"
          cols="30"
          rows="10"
          ngModel
          placeholder="Product description"
        ></textarea>
        <div class="button-wrapper">
          <button>Create</button>
          <button>Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
