<header>
  <div class="wrapper">
    <div class="navbar-wrap">
      <div class="logo-wrap">
        <p class="logo">
          <span class="logo" routerLink="/">My Shop</span>
        </p>
      </div>
      <nav>
        <a mat-button routerLink="/catalog">Home</a>
        <a mat-button routerLink="/catalog">About</a>
        <a mat-button routerLink="/catalog">Shop</a>
        <a mat-button routerLink="/catalog">Contact</a>
      </nav>
    </div>
    <div class="mini-navbar-wrap">
      <div class="mini-navbar">
        <div *ngIf="isLogged">
          <!-- <mat-icon matBadge="15" matBadgeColor="warn">Cart</mat-icon> -->
          <a
            mat-button
            matBadge="2"
            matBadgeColor="warn"
            matBadgeOverlap="false"
            routerLink="/cart"
            ><i class="fa-solid fa-cart-shopping"></i
          ></a>
          <a mat-button [matMenuTriggerFor]="menu">User</a>
          <mat-menu #menu="matMenu">
            <a mat-menu-item>My Profile</a>
            <a mat-menu-item>My Products</a>
            <a mat-menu-item>Logout</a>
          </mat-menu>
        </div>
        <div class="not-logged" *ngIf="!isLogged">
          <a mat-button routerLink="/login">Login</a>
          <a mat-button routerLink="/register">Register</a>
        </div>
      </div>
    </div>
  </div>
</header>
