<header>
  <div class="wrapper">
    <div class="navbar-wrap">
      <div class="logo-wrap">
        <p class="logo">
          <span class="logo" routerLink="/home">My Shop</span>
        </p>
      </div>
      <nav>
        <a mat-button routerLink="/home">Home</a>
        <a mat-button routerLink="/about">About</a>
        <a mat-button routerLink="/products">Shop</a>
        <a mat-button routerLink="/contact">Contact</a>
      </nav>
    </div>
    <div class="mini-navbar-wrap">
      <div class="mini-navbar">
        <div *ngIf="isLogged">
          <!-- <mat-icon matBadge="15" matBadgeColor="warn">Cart</mat-icon> -->
          <a
            mat-button
            [matBadge]="itemsCount"
            matBadgeColor="warn"
            matBadgeOverlap="false"
            routerLink="/cart"
            ><i class="fa-solid fa-cart-shopping"></i
          ></a>
          <a mat-button [matMenuTriggerFor]="menu"
            ><i class="fa-solid fa-user"></i
          ></a>
          <mat-menu #menu="matMenu">
            <a routerLink="/user/profile" mat-menu-item>My Profile</a>
            <a routerLink="/products/create" mat-menu-item>Create Product</a>
            <a routerLink="/products/mine" mat-menu-item>My Products</a>
            <a mat-menu-item (click)="logout()">Logout</a>
          </mat-menu>
        </div>
        <div class="not-logged" *ngIf="!isLogged">
          <a mat-button routerLink="/user/login">Login</a>
          <a mat-button routerLink="/user/register">Register</a>
        </div>
      </div>
    </div>
  </div>
</header>
