<div class="container">
  <div class="content">
    <div class="noProdicts" *ngIf="!hasProducts">
      <h1>YOU HAVE NO PRODUCTS YET</h1>
      <div class="has-no-products-button-wrapper">
        <a routerLink="/products/create">Create new product</a>
        <a routerLink="/products">Shop</a>
      </div>
    </div>
    <div class="hasProducts" *ngIf="hasProducts">
      <ng-container *ngFor="let product of products">
        <div class="product-wrapper">
          <div class="image-wrapper">
            <img src="{{ product.imgUrl }}" alt="" />
          </div>
          <div class="button-wrapper">
            <a [routerLink]="['/products/edit', product._id]">Edit</a>
            <a (click)="deleteProduct(product._id)">Delete</a>
          </div>
          <div class="info-wrapper">
            <h3>{{ product.name }}</h3>
            <span class="price"
              >Price: {{ product.price | currency: "USD" }}</span
            >
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
