<div class="container">
  <ng-container *ngIf="product">
    <div class="content">
      <div class="image-wrapper">
        <img src="{{ product?.imgUrl }}" alt="" />
      </div>
      <div class="info-wrapper">
        <h1>{{ product?.name | uppercase }}</h1>
        <div class="price">Price: {{ product?.price | currency: "USD" }}</div>
        <p>{{ product?.description }}</p>
        <label for="quantity"
          >Available quantity: {{ product?.quantity }}</label
        >
        <div
          *ngIf="isLoggedIn && product.quantity > 0"
          class="add-to-cart-wrapper"
        >
          <input
            type="number"
            name="quantity"
            value="1"
            max="{{ product?.quantity }}"
            min="1"
            #quantityInput
          />
          <a (click)="addToCart(+quantityInput.value)">Add to cart</a>
        </div>
        <div *ngIf="product.quantity == 0" class="out-of-stock">
          Product is out of stock
        </div>
        <div class="devider"></div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!product">
    <app-loader></app-loader>
  </ng-container>
</div>
