.content {
  margin: 1rem 1rem 4rem 1rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.product-wrapper {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  position: relative;
  width: 14rem;
}

.image-wrapper {
  height: 70%;
}

img {
  width: 100%;
  height: 100%;
  /* width: 14rem;
  height: 12rem; */
  /* border-radius: 15px; */
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.button-wrapper {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.button-wrapper a {
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: rgb(66, 66, 67);
  border-radius: 5px;
  width: 40%;
  padding: 0.8rem;
}

.button-wrapper a:hover {
  transform: scale(1.1);
}

.product-wrapper:hover img {
  opacity: 0.3;
}

.product-wrapper:hover .button-wrapper {
  opacity: 1;
}

.info-wrapper {
  margin: 1rem;
  text-align: center;
}

.info-wrapper h3 {
  font-size: 2rem;
}

.info-wrapper .price {
  font-size: 1rem;
  margin: 1rem;
  text-align: center;
}
