<div class="content">
  <div class="wrapper">
    <div class="img-wrapper">
      <img src="../../../../assets/img-01.png" alt="" />
    </div>
    <div class="form-wrapper">
      <h2>Create your new account</h2>
      <form #form="ngForm" (ngSubmit)="register()" method="post">
        <label for="username">Username</label>
        <input
          type="text"
          name="username"
          ngModel
          required
          minlength="4"
          #nameInput="ngModel"
          placeholder="codemonkey12"
        />
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          ngModel
          required
          email
          #emailInput="ngModel"
          placeholder="ivan@abv.bg"
        />
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          ngModel
          required
          minlength="5"
          #passInput="ngModel"
          placeholder="******"
        />
        <label for="repass">Repeat Password</label>
        <input
          type="password"
          name="repass"
          ngModel
          required
          minlength="5"
          #repassInput="ngModel"
          appPassMatchValidator
          pass="testt"
          placeholder="******"
        />
        <ng-container *ngIf="repassInput.touched">
          <p *ngIf="repassInput.errors?.required" class="error">
            Repeat password is required!
          </p>
          <p *ngIf="repassInput.errors?.passNoMatch" class="error">
            Repeat Password does not match password!
          </p>
        </ng-container>

        <button>Register</button>
      </form>
    </div>
  </div>
</div>
