<div class="content">
  <div class="wrapper">
    <div class="img-wrapper">
      <img src="../../../../assets/img-01.png" alt="" />
    </div>
    <div class="form-wrapper">
      <h2>Create your new account</h2>
      <form #form="ngForm" (ngSubmit)="register()" method="post">
        <label for="username">Username</label>
        <input
          type="text"
          name="username"
          ngModel
          required
          minlength="4"
          #nameInput="ngModel"
          placeholder="codemonkey12"
        />
        <ng-container *ngIf="nameInput.touched">
          <p *ngIf="nameInput.errors?.['required']" class="error">
            Username is required!
          </p>
          <p *ngIf="nameInput.errors?.minlength" class="error">
            Username should be at least 4 characters long!
          </p>
        </ng-container>
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          ngModel
          required
          appEmailValidator
          #emailInput="ngModel"
          placeholder="ivan@abv.bg"
        />
        <ng-container *ngIf="emailInput.touched">
          <p *ngIf="emailInput.errors?.['required']" class="error">
            Email is required!
          </p>
          <p *ngIf="emailInput.errors?.invalidEmail" class="error">
            Email is not valid!
          </p>
        </ng-container>
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          ngModel
          required
          minlength="6"
          #passInput="ngModel"
          placeholder="******"
        />
        <ng-container *ngIf="passInput.touched">
          <p *ngIf="passInput.errors?.['required']" class="error">
            Password is required!
          </p>
          <p *ngIf="passInput.errors?.minlength" class="error">
            Password must be at least 6 characters long!
          </p>
        </ng-container>
        <label for="repass">Repeat Password</label>
        <input
          type="password"
          name="repass"
          ngModel
          required
          minlength="5"
          #repassInput="ngModel"
          appPassMatch
          pass="{{ passInput.value }}"
          placeholder="******"
        />
        <ng-container *ngIf="repassInput.touched">
          <p *ngIf="repassInput.errors?.['required']" class="error">
            Password is required!
          </p>
          <p *ngIf="repassInput.errors?.minlength" class="error">
            Password must be at least 6 characters long!
          </p>
          <p *ngIf="repassInput.errors?.passNoMatch" class="error">
            Passwords do not match!
          </p>
        </ng-container>

        <button>Register</button>
      </form>
    </div>
  </div>
</div>
