<div class="content">
  <div class="wrapper">
    <div class="img-wrapper">
      <img src="../../../../assets/img-01.png" alt="" />
    </div>
    <div class="form-wrapper">
      <h2>Log in to your account</h2>
      <form #form="ngForm" (ngSubmit)="login()">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          ngModel
          required
          email
          #emailInput="ngModel"
          placeholder="ivan@abg.bg"
        />
        <ng-container *ngIf="emailInput.touched">
          <p *ngIf="emailInput.errors?.['required']" class="error">
            Email is required!
          </p>
          <p *ngIf="emailInput.errors?.email" class="error">
            Email is not valid!
          </p>
        </ng-container>
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          ngModel
          required
          #passwordInput="ngModel"
          placeholder="******"
        />
        <ng-container *ngIf="passwordInput.touched">
          <p *ngIf="passwordInput.errors?.['required']" class="error">
            Password is required!
          </p>
        </ng-container>
        <button>Login</button>
      </form>
    </div>
  </div>
</div>
