<div class="content">
  <h1>CART</h1>
  <div *ngIf="items$ | async as items">
    <div class="hasProducts" *ngIf="items.length > 0">
      <table>
        <tr>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Subtotal</th>
        </tr>

        <tr *ngFor="let item of items">
          <td class="product-info">
            <a (click)="removeItemFromCart(item)">
              <i class="fa-solid fa-circle-xmark"></i>
            </a>
            <img src="{{ item.product.imgUrl }}" alt="" />
            <div class="product-name">{{ item.product.name }}</div>
          </td>
          <td>{{ item.product.price | currency }}</td>
          <td>{{ item.productCount }}</td>
          <td>{{ item.product.price | currency }}</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>Total: {{ getTotal() | currency }}</td>
        </tr>
      </table>
      <div class="button-wrapper">
        <div class="cart-buttons">
          <a routerLink="/products">Continue shopping</a>
          <a (click)="emptyCart()" class="empty-cart">Empty cart</a>
        </div>
        <div class="finish-button">
          <a class="finish">Finish order</a>
        </div>
      </div>
    </div>
    <div *ngIf="items.length > 0"></div>
    <div class="no-products" *ngIf="items.length === 0">
      <div class="empty">
        <i class="fa-solid fa-cart-shopping"></i> Your cart is currently empty.
      </div>
      <a routerLink="/products">Return to shop</a>
    </div>
  </div>
</div>
