<div class="content">
  <h1>CART</h1>
  <div *ngIf="items$ | async as items">
    <div class="hasProducts" *ngIf="items.length > 0">
      <div *ngFor="let item of items">
        <div class="product-wrapper">
          <img src="{{ item.content.imgUrl }}" alt="" />
          <div class="product-name">{{ item.content.name }}</div>
          <div class="product-price">{{ item.content.price | currency }}</div>
        </div>
      </div>
      <div class="total">Total:</div>
      <div class="button-wrapper">
        <a>Finish order</a>
        <a>Continue shopping</a>
        <a (click)="emptyCart()" class="empty-cart">Empty cart</a>
      </div>
    </div>
    <div *ngIf="items.length > 0"></div>
    <div class="no-products" *ngIf="items.length === 0">
      <div class="empty">
        <i class="fa-solid fa-cart-shopping"></i> Your cart is currently empty.
      </div>
      <a routerLink="/products">Return to shop</a>
    </div>
  </div>
</div>
