<div class="content">
  <h1>CART</h1>
  <div *ngIf="items$ | async as items">
    <div class="hasProducts" *ngIf="items.length > 0">
      <div *ngFor="let item of items">
        <div>{{ item }}</div>
      </div>
    </div>
    <div class="no-products" *ngIf="items.length === 0">
      <div class="empty">
        <i class="fa-solid fa-cart-shopping"></i> Your cart is currently empty.
      </div>
      <a routerLink="/products">Return to shop</a>
    </div>
  </div>
  <a (click)="emptyCart()" class="empty-cart">Empty cart</a>
</div>
