<div class="container">
  <div class="wrapper">
    <h1>OUR ADVANTAGES</h1>
    <p class="subheader">The things that make us special</p>
    <div class="grid-section">
      <div class="info-wrapper">
        <div class="icon"><i class="fa-solid fa-lightbulb"></i></div>
        <span class="info-header"> IDEAS AND CONCEPTS​ </span>
        <p class="info-text">
          The main difference between ideas and concepts is that ideas are
          thoughts or suggestions that occur in the mind, whereas concepts are
          ideas that have undergone fine-tuning.
        </p>
      </div>
      <div class="info-wrapper">
        <div class="icon"><i class="fa-solid fa-wrench"></i></div>
        <span class="info-header"> DESIGNS & INTERFACES​ </span>
        <p class="info-text">
          User interface (UI) design is the process designers use to build
          interfaces in software or computerized devices, focusing on looks or
          style.
        </p>
      </div>
      <div class="info-wrapper">
        <div class="icon"><i class="fa-solid fa-gears"></i></div>
        <span class="info-header"> HIGHLY CUSTOMIZABLE​ </span>
        <p class="info-text">
          High quality example sentences with “highly customizable” in context
          from reliable sources - Ludwig is the linguistic search engine that
          helps you to write
        </p>
      </div>
      <div class="info-wrapper">
        <div class="icon"><i class="fa-solid fa-thumbs-up"></i></div>
        <span class="info-header"> EASY TO USE​</span>
        <p class="info-text">
          Easy-to-use site builder with a free option. It lets you create and
          publish attractive, responsive-design sites, blogs, and online stores,
          but could use more themes and a better photo repository.
        </p>
      </div>
    </div>
  </div>
</div>
