<mat-paginator
  [length]="length"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 20, 50]"
  aria-label="Select page"
  nextPageLabel="Next page"
  previousPageLabel="Previous page"
  (page)="onPageChange($event)"
>
</mat-paginator>
<div class="content">
  <ng-container *ngFor="let product of products">
    <div class="product-wrapper">
      <div class="image-wrapper">
        <img src="{{ product.imgUrl }}" alt="" />
      </div>
      <div class="button-wrapper">
        <a
          *ngIf="isLoggedIn && product.quantity > 0"
          (click)="addToCart(product)"
          >Add to cart</a
        >
        <a [routerLink]="['/products', product._id]">Details</a>
      </div>
      <div class="info-wrapper">
        <h3>{{ product.name }}</h3>
        <span class="price">Price: {{ product.price | currency: "USD" }}</span>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!products">
    <app-loader></app-loader>
  </ng-container>
</div>
