<mat-paginator
  [length]="length"
  [pageSize]="8"
  [pageSizeOptions]="[4, 8, 16, 32]"
  aria-label="Select page"
  nextPageLabel="Next page"
  previousPageLabel="Previous page"
  (page)="onPageChange($event)"
>
</mat-paginator>
<div class="content">
  <ng-container *ngFor="let product of products">
    <div class="product-wrapper">
      <div class="image-wrapper">
        <img src="{{ product.imgUrl }}" alt="" />
      </div>
      <div class="button-wrapper">
        <a
          *ngIf="isLoggedIn && product.quantity > 0 && !isAdmin"
          (click)="addToCart(product)"
          >Add to cart</a
        >
        <a *ngIf="!isAdmin" [routerLink]="['/products', product._id]"
          >Details</a
        >
        <a *ngIf="isAdmin" [routerLink]="['/products/edit', product._id]"
          >Edit product</a
        >
        <a *ngIf="isAdmin" (click)="deleteProduct(product._id)">Delete</a>
      </div>
      <div class="info-wrapper">
        <h3>{{ product.name | shorten: 16 }}</h3>
        <span class="price">Price: {{ product.price | currency: "USD" }}</span>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!products">
    <app-loader></app-loader>
  </ng-container>
</div>
