.wrapper {
  background-image: url(src/assets/joshua-rawson-harris-bMMOBVp6KQU-unsplash.webp);
  background-size: cover;
  background-position: center;
  height: 17rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
    font-size: 2rem;
}


